div.Header{
    background: linear-gradient(to right, grey, lightgray, rgba(91, 136, 204, 0.829) , lightgray, gray);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

h1{
    margin:5px;
    padding: 3px;
}

button{
    padding: 5px;
    border-radius: 25px;
}

.entrada{
    margin: 5px;
    padding: 3px;
    font-size: 25px;
}

button:hover{
    background-color: blue;
}

@media screen and (max-width: 768px) {

    div.Header{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }
    
}